In [1]:
# Import libaries

from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [2]:
final_list = []

# Skytrax URL
url = 'https://www.airlinequality.com/airline-reviews/xiamen-airlines/?sortby=post_date%3ADesc&pagesize=50'

# Request URL
response = requests.get(url)

# Create Soup
soup = BeautifulSoup(response.content, 'lxml')

# For loop for HTML
for idx, review in enumerate(soup.find_all('div',{'class':"review-stats"})):
    
    # Create a empty dictionary to contain columns and values
    review_dict = dict()
    
    # Values that is in star fill
    names = review.find_all('td', class_='review-rating-header')[::-1]
    ratings = review.find_all('td', class_='stars')[::-1]
    
    try:
        for name, rating in zip(names[1:], ratings):
            review_dict[name.text] = rating.find_all(class_='fill')[-1].text
    except:
        review_dict[name.text] = np.nan
    
    # Author, Date, Overall_rating,Text_content, Recommended
    review_dict['Author'] = soup.find_all(itemprop='name')[idx+1].text
    review_dict['Date'] = soup.find_all(itemprop='datePublished')[::2][idx].attrs['content']
    review_dict['text_content'] = soup.find_all('div',class_='text_content')[idx].text
    review_dict['Recommended'] = soup.find_all('div',{'class':"review-stats"})[idx].find_all('tr')[-1].find_all('td')[-1].text
        
    # Type of Traveller
    try:
        review.find('td',{'class':'review-rating-header type_of_traveller'}).text is not None
        review_dict['traveller_type'] = soup.find_all('td',{'class':'review-rating-header type_of_traveller'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['traveller_type'] = np.nan
    
    # Seat type
    try:
        review.find('td',{'class':'review-rating-header cabin_flown'}).text is not None
        review_dict['seat_type'] = soup.find_all('td',{'class':'review-rating-header cabin_flown'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['seat_type'] = np.nan
    
    try:
        review_dict['Overall_rating'] = soup.find_all('div',{'itemprop':'reviewRating'})[idx].find(itemprop="ratingValue").text
    
    except:
        review_dict['Overall_rating'] = np.nan
    
    
    # Append dictionary into a list
    final_list.append(review_dict)

# Create DataFrame
df = pd.DataFrame(final_list)
df['airline'] = 'xiamen airlines'

# rearrange dataframe
df = df[['airline','Author','Date','text_content','traveller_type','seat_type','Overall_rating','Seat Comfort',
 'Cabin Staff Service','Food & Beverages','Inflight Entertainment','Ground Service','Value For Money',  
  'Recommended']]

# rename dataframe
df.columns = ['airline_name', 'author', 'date', 'content', 'type_traveller','cabin_flown', 'overall_rating', 'seat_comfort_rating',
'cabin_staff_rating', 'food_beverages_rating','inflight_entertainment_rating', 'ground_service_rating','value_money_rating', 'recommended']

# Save to CSV
df.to_csv('Data/xiamen_airlines.csv',index=False)

In [3]:
# Sanity check
df.tail()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
45,xiamen airlines,Zhang Xu,2017-08-17,✅ Verified Review | Beijing to Xiamen. Such a...,Business,Economy Class,1,1,1,1,NaN,1,1,no
46,xiamen airlines,Philip Hu,2017-07-25,✅ Verified Review | Seattle to Shenzhen. Chec...,Family Leisure,Economy Class,9,5,5,5,4,5,5,yes
47,xiamen airlines,H Zhang,2017-07-21,✅ Verified Review | Quanzhou to Beijing. The a...,Business,Economy Class,3,2,3,3,1,3,1,no
48,xiamen airlines,T Zhang,2017-07-14,✅ Verified Review | Los Angeles to Xiamen. Th...,Solo Leisure,Economy Class,7,3,4,3,4,3,4,yes
49,xiamen airlines,M Rinehart,2017-07-07,✅ Verified Review | Hong Kong to Xiamen. Upon...,Solo Leisure,Economy Class,2,4,2,NaN,1,1,1,no

In [4]:
df.head()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
0,xiamen airlines,Allie Miller,2020-02-01,Not Verified | Los Angeles to Ho Chi Minh via...,Couple Leisure,Economy Class,1,NaN,NaN,NaN,NaN,NaN,1,no
1,xiamen airlines,Y Xu,2020-01-23,✅ Trip Verified | Never fly with Xiamen airli...,Solo Leisure,Economy Class,1,NaN,NaN,NaN,NaN,1,1,no
2,xiamen airlines,Henry Musa,2020-01-07,✅ Trip Verified | Bangkok to Los Angeles via ...,Family Leisure,Economy Class,9,5,5,4,4,5,5,yes
3,xiamen airlines,C Leare,2020-01-07,✅ Trip Verified | Dalian to Bangkok via Fuzho...,Family Leisure,Economy Class,6,2,4,2,1,3,3,no
4,xiamen airlines,P Lewis,2020-01-04,✅ Trip Verified | Vancouver to Manila via Xiam...,Solo Leisure,Economy Class,1,1,1,NaN,NaN,1,1,no