In [1]:
# Import libaries

from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [2]:
final_list = []

# Skytrax URL
url = 'https://www.airlinequality.com/airline-reviews/cathay-dragon/?sortby=post_date%3ADesc&pagesize=50'

# Request URL
response = requests.get(url)

# Create Soup
soup = BeautifulSoup(response.content, 'lxml')

# For loop for HTML
for idx, review in enumerate(soup.find_all('div',{'class':"review-stats"})):
    
    # Create a empty dictionary to contain columns and values
    review_dict = dict()
    
    # Values that is in star fill
    names = review.find_all('td', class_='review-rating-header')[::-1]
    ratings = review.find_all('td', class_='stars')[::-1]
    
    for name, rating in zip(names[1:], ratings):
        review_dict[name.text] = rating.find_all(class_='fill')[-1].text
    
    # Author, Date, Overall_rating,Text_content, Recommended
    review_dict['Author'] = soup.find_all(itemprop='name')[idx+1].text
    review_dict['Date'] = soup.find_all(itemprop='datePublished')[::2][idx].attrs['content']
    review_dict['Overall_rating'] = soup.find_all('div',{'itemprop':'reviewRating'})[idx].find(itemprop="ratingValue").text
    review_dict['text_content'] = soup.find_all('div',class_='text_content')[idx].text
    review_dict['Recommended'] = soup.find_all('div',{'class':"review-stats"})[idx].find_all('tr')[-1].find_all('td')[-1].text
        
    # Type of Traveller
    try:
        review.find('td',{'class':'review-rating-header type_of_traveller'}).text is not None
        review_dict['traveller_type'] = soup.find_all('td',{'class':'review-rating-header type_of_traveller'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['traveller_type'] = np.nan
    
    # Seat type
    try:
        review.find('td',{'class':'review-rating-header cabin_flown'}).text is not None
        review_dict['seat_type'] = soup.find_all('td',{'class':'review-rating-header cabin_flown'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['seat_type'] = np.nan
    
    
    # Append dictionary into a list
    final_list.append(review_dict)

# Create DataFrame
df = pd.DataFrame(final_list)
df['airline'] = 'cathay dragon'

# rearrange dataframe
df = df[['airline','Author','Date','text_content','traveller_type','seat_type','Overall_rating','Seat Comfort',
 'Cabin Staff Service','Food & Beverages','Inflight Entertainment','Ground Service','Value For Money',  
  'Recommended']]

# rename dataframe
df.columns = ['airline_name', 'author', 'date', 'content', 'type_traveller','cabin_flown', 'overall_rating', 'seat_comfort_rating',
'cabin_staff_rating', 'food_beverages_rating','inflight_entertainment_rating', 'ground_service_rating','value_money_rating', 'recommended']


# Save to CSV
df.to_csv('Data/cathay_dragon.csv',index=False)

In [3]:
# Sanity check
df.head()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
0,cathay dragon,Felix Jiaxin ZHU,2020-04-26,Not Verified | Nanjing to Hong Kong. Nice air...,Family Leisure,Economy Class,8,4,5,5,3,5,4,yes
1,cathay dragon,A Berlov,2020-03-19,✅ Trip Verified | Hanoi to Hong Kong. There a...,Solo Leisure,Business Class,8,5,5,4,3,3,3,yes
2,cathay dragon,JJ LIM,2020-02-07,✅ Trip Verified | Hong Kong to Okinawa Naha. O...,Couple Leisure,Economy Class,8,5,5,4,5,5,3,yes
3,cathay dragon,Keng Leong,2020-01-30,✅ Trip Verified | Hong Kong to Kuala Lumpur. ...,Solo Leisure,Business Class,1,3,1,3,3,3,3,no
4,cathay dragon,Claudio Operti,2019-12-14,✅ Trip Verified | Qingdao to Hong Kong return...,Business,Business Class,10,4,5,5,5,5,5,yes

In [4]:
df.tail()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
45,cathay dragon,Z Gan,2017-12-28,✅ Trip Verified | Shanghai to Hong Kong. Arri...,Family Leisure,Business Class,10,5,5,5,5,5,3,yes
46,cathay dragon,G Lang,2017-10-26,✅ Verified Review | First flight with Cathay ...,Family Leisure,Economy Class,7,4,3,3,4,3,4,yes
47,cathay dragon,Frankline Loo,2017-10-24,✅ Verified Review | Flew Cathay Dragon from H...,Couple Leisure,Economy Class,10,5,5,5,5,5,5,yes
48,cathay dragon,L Tee,2017-10-23,✅ Verified Review | Hong Kong to Kuala Lumpur...,Couple Leisure,Economy Class,10,5,5,5,5,5,5,yes
49,cathay dragon,Victor Sun,2017-10-05,✅ Verified Review | Okinawa Naha to Hong Kong...,Solo Leisure,Economy Class,8,5,4,3,4,4,4,yes