In [1]:
# Import libaries

from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [2]:
final_list = []

# Skytrax URL
url = 'https://www.airlinequality.com/airline-reviews/privilege-style/?sortby=post_date%3ADesc&pagesize=20'

# Request URL
response = requests.get(url)

# Create Soup
soup = BeautifulSoup(response.content, 'lxml')

# For loop for HTML
for idx, review in enumerate(soup.find_all('div',{'class':"review-stats"})):
    
    # Create a empty dictionary to contain columns and values
    review_dict = dict()
    
    # Values that is in star fill
    names = review.find_all('td', class_='review-rating-header')[::-1]
    ratings = review.find_all('td', class_='stars')[::-1]
    
    try:
        for name, rating in zip(names[1:], ratings):
            review_dict[name.text] = rating.find_all(class_='fill')[-1].text
    except:
        review_dict[name.text] = np.nan
    
    # Author, Date, Overall_rating,Text_content, Recommended
    review_dict['Author'] = soup.find_all(itemprop='name')[idx+1].text
    review_dict['Date'] = soup.find_all(itemprop='datePublished')[::2][idx].attrs['content']
    review_dict['Overall_rating'] = soup.find_all('div',{'itemprop':'reviewRating'})[idx].find(itemprop="ratingValue").text
    review_dict['text_content'] = soup.find_all('div',class_='text_content')[idx].text
    review_dict['Recommended'] = soup.find_all('div',{'class':"review-stats"})[idx].find_all('tr')[-1].find_all('td')[-1].text
        
    # Type of Traveller
    try:
        review.find('td',{'class':'review-rating-header type_of_traveller'}).text is not None
        review_dict['traveller_type'] = soup.find_all('td',{'class':'review-rating-header type_of_traveller'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['traveller_type'] = np.nan
    
    # Seat type
    try:
        review.find('td',{'class':'review-rating-header cabin_flown'}).text is not None
        review_dict['seat_type'] = soup.find_all('td',{'class':'review-rating-header cabin_flown'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['seat_type'] = np.nan
    
    
    # Append dictionary into a list
    final_list.append(review_dict)

# Create DataFrame
df = pd.DataFrame(final_list)
df['airline'] = 'privilege style'

# rearrange dataframe
df = df[['airline','Author','Date','text_content','traveller_type','seat_type','Overall_rating','Seat Comfort',
 'Cabin Staff Service','Food & Beverages','Inflight Entertainment','Ground Service','Value For Money',  
  'Recommended']]

# rename dataframe
df.columns = ['airline_name', 'author', 'date', 'content', 'type_traveller','cabin_flown', 'overall_rating', 'seat_comfort_rating',
'cabin_staff_rating', 'food_beverages_rating','inflight_entertainment_rating', 'ground_service_rating','value_money_rating', 'recommended']

# Save to CSV
df.to_csv('Data/privilege_style.csv',index=False)

In [3]:
# Sanity check
df.tail()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
8,privilege style,Fernando Marco Liguori,2018-11-26,✅ Trip Verified | Rome to Newark. This is the...,Solo Leisure,Economy Class,1,1,3,1,1,1,1,no
9,privilege style,P Lesuno,2018-09-19,✅ Trip Verified | Norwegian notified us that ...,Couple Leisure,Premium Economy,2,1,3,3,1,1,1,no
10,privilege style,Laura Rooney,2018-09-05,Not Verified | Very disappointed in this Norw...,Solo Leisure,Economy Class,2,1,1,2,1,2,1,no
11,privilege style,Silvia Tisi,2018-02-10,✅ Trip Verified | Flew Zanzibar to Milan with ...,Couple Leisure,Economy Class,7,2,5,2,1,5,3,yes
12,privilege style,S Gressen,2017-02-16,✅ Verified Review | Montego Bay to Munich wit...,Couple Leisure,Economy Class,9,3,5,5,NaN,1,5,yes

In [4]:
df.head()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
0,privilege style,Ndulue Yauri,2020-01-28,✅ Trip Verified | Vienna to Lagos. The flight...,Solo Leisure,Economy Class,5,3,3,3,NaN,3,5,no
1,privilege style,Abdal Ghafar,2020-01-25,✅ Trip Verified | Munich to Kabul. Privilege ...,Solo Leisure,Economy Class,5,3,3,3,3,3,5,no
2,privilege style,Robert Dullighan,2019-09-29,Not Verified | CAA replacement for Thomas Coo...,Family Leisure,Economy Class,10,5,5,5,NaN,5,5,yes
3,privilege style,B Carson,2019-08-17,✅ Trip Verified | Manchester to Tenerife. On ...,Family Leisure,Economy Class,6,3,4,1,NaN,3,3,yes
4,privilege style,Nicole Gunning,2019-07-30,Not Verified | Manchester to Lanzorote. We bo...,Family Leisure,Economy Class,9,4,5,5,NaN,4,5,yes