In [1]:
# Import libaries

from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [2]:
final_list = []

# Skytrax URL
url = 'https://www.airlinequality.com/airline-reviews/vanilla-air/?sortby=post_date%3ADesc&pagesize=20'

# Request URL
response = requests.get(url)

# Create Soup
soup = BeautifulSoup(response.content, 'lxml')

# For loop for HTML
for idx, review in enumerate(soup.find_all('div',{'class':"review-stats"})):
    
    # Create a empty dictionary to contain columns and values
    review_dict = dict()
    
    # Values that is in star fill
    names = review.find_all('td', class_='review-rating-header')[::-1]
    ratings = review.find_all('td', class_='stars')[::-1]
    
    try:
        for name, rating in zip(names[1:], ratings):
            review_dict[name.text] = rating.find_all(class_='fill')[-1].text
    except:
        review_dict[name.text] = np.nan
    
    # Author, Date, Overall_rating,Text_content, Recommended
    review_dict['Author'] = soup.find_all(itemprop='name')[idx+1].text
    review_dict['Date'] = soup.find_all(itemprop='datePublished')[::2][idx].attrs['content']
    review_dict['text_content'] = soup.find_all('div',class_='text_content')[idx].text
    review_dict['Recommended'] = soup.find_all('div',{'class':"review-stats"})[idx].find_all('tr')[-1].find_all('td')[-1].text
        
    # Type of Traveller
    try:
        review.find('td',{'class':'review-rating-header type_of_traveller'}).text is not None
        review_dict['traveller_type'] = soup.find_all('td',{'class':'review-rating-header type_of_traveller'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['traveller_type'] = np.nan
    
    # Seat type
    try:
        review.find('td',{'class':'review-rating-header cabin_flown'}).text is not None
        review_dict['seat_type'] = soup.find_all('td',{'class':'review-rating-header cabin_flown'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['seat_type'] = np.nan
    
    try:
        review_dict['Overall_rating'] = soup.find_all('div',{'itemprop':'reviewRating'})[idx].find(itemprop="ratingValue").text
    
    except:
        review_dict['Overall_rating'] = np.nan
    
    
    # Append dictionary into a list
    final_list.append(review_dict)

# Create DataFrame
df = pd.DataFrame(final_list)
df['airline'] = 'vanilla air'

# rearrange dataframe
df = df[['airline','Author','Date','text_content','traveller_type','seat_type','Overall_rating','Seat Comfort',
 'Cabin Staff Service','Food & Beverages','Inflight Entertainment','Ground Service','Value For Money',  
  'Recommended']]

# rename dataframe
df.columns = ['airline_name', 'author', 'date', 'content', 'type_traveller','cabin_flown', 'overall_rating', 'seat_comfort_rating',
'cabin_staff_rating', 'food_beverages_rating','inflight_entertainment_rating', 'ground_service_rating','value_money_rating', 'recommended']

# Save to CSV
df.to_csv('Data/vanilla_air.csv',index=False)

In [3]:
# Sanity check
df.tail()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
8,vanilla air,Russell Taylor,2017-08-22,✅ Verified Review | Flew Vanilla Air from Tok...,Couple Leisure,Economy Class,9,4,5,NaN,NaN,5,5,yes
9,vanilla air,B Gardner,2017-08-13,✅ Verified Review | This was the first time I ...,Solo Leisure,Economy Class,9,5,5,4,NaN,5,5,yes
10,vanilla air,D Peck,2017-05-03,✅ Verified Review | Tokyo Narita to Okinawa. ...,Business,Economy Class,3,1,2,NaN,NaN,1,3,no
11,vanilla air,K Chu,2016-12-06,✅ Verified Review | Hong Kong to Tokyo Narita...,Solo Leisure,Economy Class,10,5,5,NaN,NaN,5,5,yes
12,vanilla air,Yu Xiang Lim,2015-06-23,Vanilla air is a Japan LCC. I choose this airl...,Couple Leisure,Economy Class,7,2,4,3,NaN,3,5,yes

In [4]:
df.head()

,airline_name,author,date,content,type_traveller,cabin_flown,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,value_money_rating,recommended
0,vanilla air,C Hee,2019-06-09,✅ Trip Verified | Tokyo to New Chitose. My ch...,Family Leisure,Economy Class,2,1,1,NaN,NaN,1,1,no
1,vanilla air,R Davies,2019-03-20,✅ Trip Verified | I fly the Tokyo to Sapporo r...,Solo Leisure,Economy Class,1,2,3,1,1,1,2,no
2,vanilla air,N Wu,2019-01-07,✅ Trip Verified | Hong Kong to Tokyo. Both ou...,Solo Leisure,Economy Class,10,5,5,NaN,NaN,5,5,yes
3,vanilla air,J Tang,2018-07-26,✅ Trip Verified | This is the worst airline in...,Solo Leisure,Economy Class,1,1,1,NaN,NaN,1,1,no
4,vanilla air,Mason AlNouri,2018-04-02,✅ Trip Verified | Narita to Sapporo. This is ...,Couple Leisure,Economy Class,1,1,1,1,1,1,1,no