In [1]:
# Import libaries

from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [2]:
final_list = []

# Skytrax URL
url = 'https://www.airlinequality.com/airline-reviews/peruvian-airlines/?sortby=post_date%3ADesc&pagesize=50'

# Request URL
response = requests.get(url)

# Create Soup
soup = BeautifulSoup(response.content, 'lxml')

# For loop for HTML
for idx, review in enumerate(soup.find_all('div',{'class':"review-stats"})):
    
    # Create a empty dictionary to contain columns and values
    review_dict = dict()
    
    # Values that is in star fill
    names = review.find_all('td', class_='review-rating-header')[::-1]
    ratings = review.find_all('td', class_='stars')[::-1]
    
    try:
        for name, rating in zip(names[1:], ratings):
            review_dict[name.text] = rating.find_all(class_='fill')[-1].text
    except:
        review_dict[name.text] = np.nan
    
    # Author, Date, Overall_rating,Text_content, Recommended
    review_dict['Author'] = soup.find_all(itemprop='name')[idx+1].text
    review_dict['Date'] = soup.find_all(itemprop='datePublished')[::2][idx].attrs['content']
    review_dict['Overall_rating'] = soup.find_all('div',{'itemprop':'reviewRating'})[idx].find(itemprop="ratingValue").text
    review_dict['text_content'] = soup.find_all('div',class_='text_content')[idx].text
    review_dict['Recommended'] = soup.find_all('div',{'class':"review-stats"})[idx].find_all('tr')[-1].find_all('td')[-1].text
        
    # Type of Traveller
    try:
        review.find('td',{'class':'review-rating-header type_of_traveller'}).text is not None
        review_dict['traveller_type'] = soup.find_all('td',{'class':'review-rating-header type_of_traveller'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['traveller_type'] = np.nan
    
    # Seat type
    try:
        review.find('td',{'class':'review-rating-header cabin_flown'}).text is not None
        review_dict['seat_type'] = soup.find_all('td',{'class':'review-rating-header cabin_flown'})[idx].fetchNextSiblings()[0].text
    
    except:
        review_dict['seat_type'] = np.nan
    
    
    # Append dictionary into a list
    final_list.append(review_dict)

# Create DataFrame
df = pd.DataFrame(final_list)
df['airline'] = 'peruvian airlines'

# Save to CSV
df.to_csv('Data/peruvian.csv',index=False)

In [3]:
# Sanity check
df.tail()

,Value For Money,Wifi & Connectivity,Ground Service,Seat Comfort,Author,Date,Overall_rating,text_content,Recommended,traveller_type,seat_type,Inflight Entertainment,Food & Beverages,Cabin Staff Service,airline
38,5,NaN,4,3,Georgios S Vrontos,2016-01-11,8,"Peruvian Airlines, Boeing 737 from Lima to Cus...",yes,Couple Leisure,Economy Class,NaN,5,5,peruvian airlines
39,1,NaN,1,2,Lindsay Ankobiah,2015-10-07,1,"4 hours late, horrible customer service! We h...",no,Couple Leisure,Economy Class,NaN,2,2,peruvian airlines
40,3,NaN,NaN,3,M Devoic,2014-11-25,2,Lima-Cuzco and Arequipa-Lima they offered the ...,no,NaN,Economy Class,1,3,2,peruvian airlines
41,3,NaN,NaN,2,B Michaels,2014-01-02,4,We flew from Lima to Arequipa on one of Peruvi...,no,NaN,Economy Class,1,2,3,peruvian airlines
42,1,NaN,NaN,1,Caroline Thijs,2013-11-14,1,My flight from Lima to Cuzco was first delayed...,no,NaN,Economy Class,1,1,1,peruvian airlines